<%- include('header'); %>
<div style="overflow: hidden;" id="index" class="container">
  <h2 style="text-align: left;">Sistema de Gerenciamento de Clientes</h2>
  <p>Utilize os botões da barra de navegação para descobrir o site.</p>
</div>
<%- include('footer'); %>