<%- include('header'); %>
  <div class="container">
    <div class="row"> 
      <div id="login" class="form-control">

          <% if (error=='') { %>
          <%} else { %>
            <div class="alert alert-danger">
              <%=error %> 
            </div>
            
          <% } %>
          <h2>Login</h2>
       
          <form action="/usuario/login" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="form-floating mb-3">
              <input name="email" type="email" class="form-control" id="floatingInput"
              placeholder="name@example.com">
              <label for="floatingInput">E-mail</label>
            </div>
            <div class="form-floating mb-3">
              <input name="senha" type="password" class="form-control" id="floatingPassword"
              placeholder="Password">
              <label for="floatingPassword">Senha</label>
            </div>
            <div>
              <button type="submit" class="btn btn-success">Entrar</button>
              <a href="/usuario/recuperarsenha">Esqueceu sua senha ?</a>
            </div>
          </form>
      </div>
    </div>
  </div>
  <%- include('footer'); %>