#index {
  margin-top: 10px; 
  border-radius: 5px; 
  background-color: #eeeeee;
  padding-bottom: 25px;
  overflow: scroll;
}

#index p {
  font-size: 20px;
}

.row {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.row h2 {
  margin-bottom: 20px;
}

@media(max-width : 1920px) {
  #login {
    margin-left: 25%;
    width: 50%;
  }
}

@media(max-width : 1798px) {
  #login {
    margin-left: 25%;
    width: 50%;
  }
}

@media(max-width : 1534px) {
  #login {
    margin-left: 25%;
    width: 50%;
  }
}

@media(max-width : 1392px) {
  #login {
    margin-left: 20%;
    width: 60%;
  }
}

@media(max-width : 1178px) {
  #login {
    margin-left: 20%;
    width: 60%;
  }
}


@media(max-width : 992px) {
  #login {
    margin-left: 15%;
    width: 70%;
  }
}

@media(max-width : 800px) {
  #login {
    margin-left: 10%;
    width: 80%;
  }
}

@media(max-width : 600px) {
  #login {
    margin-left: 5%;
    width: 90%;
  }
}
